<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style_gathering_games.css' %}">
    <link id="favicon" rel="icon" href="https://img.icons8.com/ios/50/ace-of-diamonds.png" alt="ace-of-diamonds" media="(prefers-color-scheme: light)" type="image/x-icon">
    <link id="favicon" rel="icon" href="https://img.icons8.com/ios/50/FFFFFF/ace-of-diamonds.png" alt="ace-of-diamonds" media="(prefers-color-scheme: dark)" type="image/x-icon">
    <script type="text/javascript">
        window.env = {
            IS_DEV: "{{ is_dev|escapejs }}"
        };
    </script>
    <script src="{% static 'js/gathering_games.js' %}" defer></script>
    <!-- <meta name="csrf-token" content="{{ csrf_token }}"> -->
    <title>Permutacje - kombinacje</title>
</head>
<body data-page-type="initial">
    <div id="perms_combsPage">
        <div class="container-perms-combs desktop-only">
            <h1><a href="{% url 'home.index' %}">Poker Simulation</a></h1>
        </div>
        <h2 class="desktop-only">Obliczanie kombinacji lub permutacji układów kart</h2>
        <div class="container desktop-only">
            <div class="progress-container">
                <div class="progress-bar" id="progressBar"></div>
            </div>
            <div class="button-container-top desktop-only">
                <button class="start-button" type="button" id="startTaskButton" disabled>Start</button>
                <button class="stop-button" type="button" id="stopTaskButton" disabled>Stop</button>
                <button class="download-button" type="button" id="downloadButton" disabled>Pobierz rozgrywki do pliku</button>
            </div>
        </div>
    <!-- Mobile Only Section -->
        <div class="mobile-only">
            <div class="container-perms-combs">
                <h1><a href="{% url 'home.index' %}">Poker Simulation</a></h1>
            </div>
            <div class="container-mobile">
                <h2 class="mobile">Obliczanie kombinacji lub permutacji układów kart</h2>
                <div class="progress-container">
                    <div class="progress-bar" id="mobileProgressBar"></div>
                </div>
                <div class="button-container-top">
                    <button class="start-button" type="button" id="mobileStartTaskButton">Start</button>
                    <button class="download-button" type="button" id="mobileDownloadButton">Pobierz układy kart do pliku</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>