<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style_gra_jedna_para.css' %}">
    <link id="favicon" rel="icon" href="https://img.icons8.com/ios/50/ace-of-diamonds.png" alt="ace-of-diamonds" media="(prefers-color-scheme: light)" type="image/x-icon">
    <link id="favicon" rel="icon" href="https://img.icons8.com/ios/50/FFFFFF/ace-of-diamonds.png" alt="ace-of-diamonds" media="(prefers-color-scheme: dark)" type="image/x-icon">
    <script src="{% static 'js/websocket.js' %}" defer></script>
    <meta name="csrf-token" content="{{ csrf_token }}">
    <title>Gra - Jedna Para</title>
</head>
<body>
    <div class="container">
        <div class="container-perms-combs">
            <h1><a href="{% url 'home.index' %}">Poker Simulation</a></h1>
        </div>
        <div class="header">
            <div class="input-container">
                <div class="input-section">
                    <label for="player1" class="player1-text">Nick #1</label>
                    <input type="text" id="player1" value="Nick">
                </div>
                <div class="input-section">
                    <label for="player2" class="player2-text">Nick #2</label>
                    <input type="text" id="player2" value="Adam">
                </div>
            </div>
            <button class="play-button">GRAJ</button>
            <div class="progress-container">
                <div class="progress-bar" id="progressBar"></div>
            </div>  
        </div>
        <div class="border-container"></div>
        <h2 class="decision-tree-header">Strategia gry</h2>
        <div class="game-area">
            <div class="player-area"><p class="player1-area">Gracz #1</p></div>
            <div class="player-area"><p class="player2-area">Gracz #2</p></div>
        </div>
        <div class="player-info">
            <div class="info">
                <p class="player-title">Gracz #1</p>
                <div class="cards">
                    <div class="card"></div>
                    <div class="card"></div>
                    <div class="card"></div>
                    <div class="card"></div>
                    <div class="card"></div>
                </div>
                <button class="next-button">Dalej</button>
                <p class="progress-game">Wymiana kart:</p>
                <p class="progress-game">Wygrana (2 karty):</p>
                <p class="progress-game">Wygrana (3 karty):</p>
                <p class="progress-game">Ile kart:</p>
            </div>
            <div class="info">
                <p class="player-title">Gracz #2</p>
                <div class="cards">
                    <div class="card"></div>
                    <div class="card"></div>
                    <div class="card"></div>
                    <div class="card"></div>
                    <div class="card"></div>
                </div>
                <button class="next-button">Dalej</button>
                <p class="progress-game">Wymiana kart:</p>
                <p class="progress-game">Wygrana (2 karty):</p>
                <p class="progress-game">Wygrana (3 karty):</p>
                <p class="progress-game">Ile kart:</p>
            </div>
        </div>

        <div class="result">
            <div class="result-info">
                <!-- <p class="player-title">Gracz #1</p> -->
                <div class="cards">
                    <div class="card"></div>
                    <div class="card"></div>
                    <div class="card"></div>
                    <div class="card"></div>
                    <div class="card"></div>
                </div>
            </div>
            <div class="result-info">
                <!-- <p class="player-title">Gracz #2</p> -->
                <div class="cards">
                    <div class="card"></div>
                    <div class="card"></div>
                    <div class="card"></div>
                    <div class="card"></div>
                    <div class="card"></div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>