{% extends 'base.html' %}
{% block content %}
<header class="bg-index text-white text-center py-4">
  <div class="container">
    <h1><a href="{% url 'home.index' %}">Poker Simulation</a></h1>
    <!-- <p>django, tensorflow, seaborn, pandas, numpy</p> -->
  </div>
</header>    
<div class="border-bottom-index"></div>
<div class="container px-4 py-5" id="featured-3">
  <h2>Poker Simulation Menu</h2>
  <div class="pb-2 border-bottom"></div>
  <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
    <div class="feature col">
      <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
        <img width="42" height="42" src=https://img.icons8.com/external-itim2101-lineal-itim2101/64/FFFFFF/external-maths-calculate-itim2101-lineal-itim2101.png alt="newton"/>
      </div>
      <h3 class="fs-2 text-body-emphasis">
        <a href="permutacje_kart" class="icon-link">Permutacje Kart<svg class="bi"><use xlink:href="#chevron-right"></use></svg></a>
      </h3>
      <p>Narzędzie umożliwiające generowanie permutacji i kombinacji ze wszystkich możliwych układów kart w Pokerze oraz zapis do pliku wygenerowanych danych.</p>
    </div>
    <div class="feature col">
      <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
        <img width="42" height="42" src="https://img.icons8.com/ios-filled/50/FFFFFF/joker-card.png" alt="joker-card"/>
      </div>
      <h3 class="fs-2 text-body-emphasis">
        <a href="#" class="icon-link">Gra (Jedna Para)<svg class="bi"><use xlink:href="#chevron-right"></use></svg></a>
      </h3>
      <p>Gra w Pokera układem Jedna Para. Do wyboru Gracz vs Gracz, AI vs AI, Gracz vs AI. Prowadzenie gry przez sztuczną inteligencję jest oparte na drzewie decyzyjnym. W module znajduje się opcja wyświetlania prawdopodobieństwa wygranej.</p>
    </div>
    <div class="feature col">
      <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
        <img width="42" height="42" src="https://img.icons8.com/dotty/80/FFFFFF/controller.png" alt="controller"/>
      </div>
      <h3 class="fs-2 text-body-emphasis">
        <a href="#" class="icon-link">Gra<svg class="bi"><use xlink:href="#chevron-right"></use></svg></a>
      </h3>      
      <p>Moduł pozwala na granie wszystkimi układami - Gracz vs Gracz.</p>
    </div>
  </div>
  <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
    <div class="feature col">
      <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
        <img width="42" height="42" src=https://img.icons8.com/external-outline-black-m-oki-orlando/32/FFFFFF/external-data-aggregation-data-engineering-outline-outline-black-m-oki-orlando.png alt="data collecting"/>   
      </div>
      <h3 class="fs-2 text-body-emphasis">
        <a href="#" class="icon-link">Zbieranie rozgrywek do pliku<svg class="bi"><use xlink:href="#chevron-right"></use></svg></a>
      </h3>
      <p>Moduł umożliwia zbieranie rozgrywek do pliku, który następnie jest wykorzystywany do aktualizacji lub uczenia od początku Deep Neural Network.</p>
    </div>
    <div class="feature col">
      <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
        <img width="42" height="42" src="https://img.icons8.com/laces/64/FFFFFF/mind-map.png" alt="mind-map"/>
      </div>
      <h3 class="fs-2 text-body-emphasis">
        <a href="#" class="icon-link">Uczenie Deep Neural Network<svg class="bi"><use xlink:href="#chevron-right"></use></svg></a>
      </h3>
      <p>Moduł, który służy do stworzenia modelu oraz nauki Deep Neural Network w celu określenia prawdopodobieństwa wygranej gracza z danym układem. W tym przypadku (póki co) uczenie jest to proces używany z wykorzystaniem przeprowadzonych rozgrywek z układem Jedna Para.</p>
    </div>
    <div class="feature col">
      <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
        <img width="42" height="42" src="https://img.icons8.com/ios-filled/50/FFFFFF/neuron.png" alt="neuron"/>      
      </div>
      <h3 class="fs-2 text-body-emphasis">
        <a href="#" class="icon-link">Aktualizacja Deep Neural Network<svg class="bi"><use xlink:href="#chevron-right"></use></svg></a>
      </h3>      
      <p>Moduł umożliwia przeprowadzenie aktualizacji modelu Deep Neural Network z nowymi danymi.</p>
    </div>
  </div>
</div>
{% endblock content %}