<!-- <!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Input Form</title>
    <script>
        const socket = new WebSocket('ws://127.0.0.1:8001/ws/run_script/');

        socket.onopen = function(event) {
            console.log("WebSocket is open now.");
        };

        socket.onclose = function(event) {
            console.log("WebSocket is closed now.");
        };
        
        socket.onmessage = function(event) {
            const data = JSON.parse(event.data);
            console.log("Received data:", data);  // Log received data
            const outputElement = document.getElementById('output');
            console.log("Output Element: ", outputElement);  // Log the element
            outputElement.innerHTML += data.output + "<br>";  // Update the HTML element
        };

        socket.onerror = function(event) {
            console.error("WebSocket error observed:", event);
        };

        function sendInput() {
            const userInput = document.getElementById('user_input').value;
            socket.send(JSON.stringify({'input': userInput}));
        }


    </script>
</head>
<body>
    <h1>Enter Input for Python Script</h1>
    <form onsubmit="sendInput(); return false;">
        {% csrf_token %}
        <input type="text" id="user_input" name="user_input">
        <pre id="output">Waiting for script output...</pre>
        <button type="submit">Run Script</button>
    </form>
</body>
</html> -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Real-time Data</title>
    <script>
        const socket = new WebSocket('ws://127.0.0.1:8001/ws/data/');

        socket.onmessage = function(event) {
            const data = JSON.parse(event.data);
            document.getElementById('data').innerText = data.message;
        };
    </script>
</head>
<body>
    <h1>Real-time Data</h1>
    <div id="data">Waiting for data...</div>
</body>
</html>