<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <title>Progress Bar</title>
</head>
<body data-page-type="initial">
    <div id="progressPage">
        <div class="container">
            <div class="progress-container">
                <div class="progress-bar" id="progressBar">0%</div>
            </div>
            <div class="data-script-container">
                <div class="data-script" id="dataScript"></div>
            </div>
            <button class="download-button" type="button" id="downloadButton">Download Data to File</button>
        </div>
    </div>
    <script>
        const csrfToken = "{{ csrf_token }}";
    </script>
    <script src="{% static 'js/websocket.js' %}" defer></script> <!-- Link to the external JavaScript file -->
</body>
</html>