.bg-index{
    background: url("img/background.jpg") repeat fixed;
    background-size: 75% auto;
  }

.text-bg-primary {
  color: #ffffff !important;
}

.text-body-emphasis {
  --bs-text-opacity: 1;
  color: var(--bs-emphasis-color) !important;
  margin-bottom: 20px
}

.bi {
  vertical-align: -.125em;
  fill: #ffffff;
}

.feature-icon {
  width: 4rem;
  height: 4rem;
  border-radius: .75rem;
}

.fs-2 {
  font-size: calc(1.325rem + .9vw) !important;
}

#progressPage {
  height: 100vh; /* Full viewport height */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-size: 36px; /* Change font size */
  color: #e8f8ff; /* Change text color */
  text-align: center; /* Center align the text */
  font-family: 'Cambria Math', sans-serif; /* Change the font family */
}

.container {
  width: 80%; /* Set the container width to 40% of the page */
  display: flex;
  flex-direction: column; /* Stack elements vertically inside the container */
  align-items: center; /* Center align children in the container */
  font-family: 'Cambria Math', sans-serif; /* Specify the font family */
}

.progress-container {
  width: 80%; /* Set the progress bar width to 40% */
  background: linear-gradient(to top, #a8e5ff, #aae6ff);
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 10px;
}

.progress-bar {
  height: 30px;
  width: 0; /* Initial width */
  /* background-color: #4caf50; */
  background: linear-gradient(to top, #31c1ff, #5cceff);
  color: #00101e;
  text-align: center;
  line-height: 30px; /* Vertical centering */
  border-radius: 10px;
  transition: width 0.4s ease;
}

.data-script-container {
  width: 80%; /* Match width with the container */
  margin-top: 10px; /* Space above the data script */
  margin-bottom: 10px;
  display: flex;
  flex-direction: column; /* Stack elements vertically inside the container */
  align-items: center; /* Center align children in the container */
}

#dataScript {
  display: inline-block; /* Allow the div to adjust based on content */
  max-width: 100%; /* Prevent exceeding the container's width */
  background-color: #f0f0f0; /* Example background color */
  border: 1px solid #ccc; /* Optional border */
  overflow-y: auto; /* Allow scrolling if content overflows */
  padding: 10px; /* Optional padding */
  border-radius: 15px; /* Rounded corners */
  white-space: pre-wrap; /* Preserve whitespace and wrap long text */
  font-size: 24px; /* Font size */

}

.button-container {
  display: flex;
  gap: 10px; /* Space between buttons */
  margin-top: 20px; /* Space above the button container */
  margin-bottom: 40px;
}

.start-button, .stop-button, .download-button, .perms-button, .combs-button {
  /* background-color: #00426e; Blue background */
  background: linear-gradient(to bottom, #00435f, rgb(0, 48, 73));
  color: #e8f8ff; /* White text color */
  border: 1px solid #001d29; /* No border */
  border-radius: 10px; /* Rounded corners */
  padding: 10px 15px; /* Padding around the text */
  font-size: 20px; /* Font size */
  cursor: pointer; /* Pointer cursor on hover */
  transition: background-color 0.3s; /* Smooth background color transition */
  font-family: 'Cambria Math', sans-serif; /* Specify the font family */
  
}

.start-button:hover, .stop-button:hover, .download-button:hover, .perms-button:hover, .combs-button:hover {
  background: linear-gradient(to top, #31c1ff, #5cceff);
  color: #00101e;
}

#startTaskButton:disabled {
  background: linear-gradient(to top, #9be1ff, #d3f2ff);
  color: #00101e; /* White text color */
  cursor: not-allowed; /* Change cursor to indicate it's disabled */
}

body {
  background: radial-gradient(circle, #001628, #00101e);
}
  
[data-bs-theme=dark] {
  color-scheme: dark;
}